hostname = testflight.apple.com

^https?:\/\/testflight\.apple\.com\/v3\/accounts\/.*\/apps$ url script-request-header https://raw.githubusercontent.com/yuichydev/TF/main/TF_keys.js
^https:\/\/testflight\.apple\.com\/join\/(.*)$ url script-request-header https://raw.githubusercontent.com/yuichydev/TF/main/TF_keys.js
