hostname = testflight.apple.com

^https?:\/\/testflight\.apple\.com\/v3\/accounts\/.*\/apps$ url script-request-header https://raw.githubusercontent.com/Hely-T/TestFlight-All/master/Tool/QuantumultX/Config/TF_keys.js
^https:\/\/testflight\.apple\.com\/join\/(.*)$ url script-request-header https://raw.githubusercontent.com/Hely-T/TestFlight-All/master/Tool/QuantumultX/Config/TF_keys.js
